<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>快搜</title>
    <link href="css/kuaisou.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="search">
        <div class="search_img">
            <img src="./images/kuaisou.jpg" class="img_baidu" />
        </div>
        <div class="div_search">
            <form method="post">
                <input id="wd" name="query" type="text" class="input_search"  autocomplete="off" />
                <input type="submit" class="button_ok" value="搜索" />
            </form>
        </div>

    </div>
</body>

</html>